<%- include("__header.ejs") %>

<div>
    <h1>
        <%= titulo %>
    </h1>
    <img src=<%= imagen %> alt="">
    <h6>
        <%= autor %>
    </h6>
    <textarea id="" cols="30" rows="10" disabled><%= contenido %></textarea>
</div>

